* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #0bff44;
    --bg-food-color: #ff7b00;
    --text-primary-color: #f0f0f0;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --border-primary-color: #2f2a2a;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
}

html,
body {
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

main,
section {
    width: 100%;
    height: 100%;
}

.btn {
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover {
    transform: scale(1.05);
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    margin: var(--space-xl);
    padding: var(--space-md);
    width: calc(100% - 64px);
    height: calc(90vh - 128px);
    display: grid;
    background-color: #141414;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    gap: 2px;
}

.block {
    border: 1px solid var(--border-primary-color);
    background-color: #1f1f1f;
    border-radius: 4px;
    transition: background-color 0.1s ease;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
    box-shadow: 0 0 10px var(--bg-food-color);
    border-radius: 50%;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(25, 21, 21, 0.85);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary-color);
    font-size: 2rem;
    font-weight: bold;
    z-index: 999;
}

.modal .start-game,
.modal .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
}

.modal .game-over {
    display: none;
}