* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #0bff44;
    --bg-food-color: #ff7b00;
    --text-primary-color: #f0f0f0;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
    --border-primary-color: #2f2a2a;
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Poppins', sans-serif;
}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board {
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    margin: var(--space-xl);
    padding: var(--space-md);
    width: calc(100% - 64px);
    height: calc(90vh - 128px);
    display: grid;
    background-color: #141414;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    gap: 2px;
}

.block {
    border: 1px solid var(--border-primary-color);
    background-color: #1f1f1f;
    border-radius: 4px;
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}